footer {
	padding-top: $mg--xl;
	padding-bottom: $mg--xl;
}

footer ul {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;

	li {
		display: inline-block;
		margin-left: $mg--xs;
	}

	a {
		color: white;
	}
}

.footer-nav {
	padding-bottom: $mg--sm;
}

.footer-info {
	padding-top: $mg--xl;
	padding-bottom: $mg--xl;

	a {
		color: white;
	}
}

.footer-info-title {
	color: $color--middleGrey;
}

.footer-copyright {
	margin-top: $mg--xl;
	color: $color--middleGrey;

	a {
		color: $color--middleGrey;
		padding-right: $mg--md;

		&:last-of-type {
			padding-right: 0;
		}
	}
}

.footer-social {
	path {
		fill: $color--mainBlue;
	}

	a:hover {
		path {
			fill: white;
		}
	}
}

