header {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	transition: background-color 0.2s;
	opacity: 0;
	z-index: $zindex-fixed;
}

header.bg-active {
	background-color: $color--darkBlue;
}

header .container-fluid {
	height: 100%;

	.row {
		height: 100%;
	}
}

.banner .nav a {
	@extend .nav-link;

	color: white;
}

.banner .nav li {
	@extend .nav-item;
	@extend .smallText;

	&:hover {
		a {
			color: $color--secondary;
		}
	}
}
