.section-product {
	padding-top: $mg--huge;
}

.steps-container {
	position: relative;
	margin-top: $mg--xl;
	margin-bottom: $mg--xl;
}

.steps-container .box--grey {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.install-container {
	padding: $mg--sm;
	border-radius: 4px;
	color: white;
	background-color: $color--mainBlue;
	background-image: url('../images/pattern.svg');

	h4 {
		margin-bottom: 0;
		color: white;
	}
}

.section-benefits {
	position: relative;
	padding-top: $mg--huge;
	padding-bottom: $mg--huge;
	overflow: hidden;
	z-index: 1;
}

.section-benefits .box--grey {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.benefit-circles {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -18%);

	path {
		transform-origin: center;

		&:nth-of-type(1) {
			animation: rotationCircles 240s infinite reverse linear;
		}

		&:nth-of-type(2) {
			animation: rotationCircles 160s infinite linear;
		}

		&:nth-of-type(3) {
			animation: rotationCircles 120s infinite reverse linear;
		}

		&:nth-of-type(4) {
			animation: rotationCircles 80s infinite linear;
		}
	}
}

.section-team {
	position: relative;
	padding-top: $mg--huge;
	padding-bottom: $mg--huge + $mg--lg;
}

.section-team-bigText {
	position: absolute;
	top: 0;
	left: -10%;
	font-size: 12vw;
	line-height: 1;
	color: rgba($color--middleGrey, 0.2);
	font-weight: 900;
}

.team-member-container {
	height: 100%;
	border: solid 2px rgba($color--lightGrey, 0.2);
	border-radius: 4px;
	transition: box-shadow 0.25s;

	&:hover {
		box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.08);
	}
}

.team-member-photo {
	width: 100%;
}

.team-member-info {
	padding: $mg--xs;

	h4 {
		margin-bottom: 0;
		font-family: $fontFamily--secondary;
	}

	img {
		filter: color('red');
	}
}
