/********************************
   GLOBAL
********************************/
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container-fluid {
	max-width: 1170px;
}

a {
	color: $color--secondary;
	text-decoration: none;
	position: relative;

	&:hover {
		color: $color--secondary;
		text-decoration: none;
	}

	span {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background: $color--secondary;
			transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
		}

		&:hover {
			&::after {
				transform: scaleX(0.8);
			}
		}
	}
}

p {
	color: $color--darkGrey;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.icon--section {
	margin-bottom: $mg--sm;
}

img {
	max-width: 100%;
	height: auto;
}

/********************************
   BG-FULLWIDTH
********************************/
.bgFull {
	position: relative;
}

.bgFull--darkBlue {
	background-color: $color--darkBlue;
	color: white;
}

.bgFull--mainBlue {
	background-color: $color--mainBlue;
	color: white;
}

.bgFull--gradientBlue {
	background: linear-gradient(0deg, rgba($color--mainBlue, 0.15), rgba($color--mainBlue, 0));
}

/********************************
   BOXES
********************************/
.box {
	position: relative;
	padding: $mg--lg;
	border-radius: 4px;
	overflow: hidden;
}

.box--grey {
	transform-origin: 50% 0%;
	background: rgba($color--lightGrey, 0.3);
}

/********************************
  CTA
********************************/
.cta {
	position: relative;
	display: inline-block;
	padding: 0 (torem(58px) + $mg--sm) 0 $mg--sm;
	margin-right: $mg--xs;
	line-height: 58px;
	border-radius: 4px;
	font-size: torem(20px);
	font-family: $fontFamily--secondary;
	cursor: pointer;
	transition: background 0.3s;

	&::after {
		content: '';
		position: absolute;
		width: 58px;
		height: 100%;
		right: 0;
		top: 0;
		background-size: 24px 14px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: background 0.2s;
	}

	&:hover {
		&::after {
			background-position: 70% 50%;
		}
	}
}

.cta--blue {
	border: solid 2px $color--mainBlue;

	&::after {
		background-color: $color--mainBlue;
		background-image: url('../images/icons/arrow--right--white.svg');
	}

	&:hover {
		background: $color--mainBlue;
		color: white;
	}
}

.cta--white {
	border: solid 2px white;

	&::after {
		background-color: white;
		background-image: url('../images/icons/arrow--right--blue.svg');
	}

	&:hover {
		background: white;
		color: $color--mainBlue;
	}
}

/********************************
   USEFUL
********************************/
.highlighted {
	color: $color--mainBlue;
}

.divider { // USED IN THE FOOTER ONLY FOR NOW - same as border top / bottom but since boostrap use padding / margin using it on row is larger 
	width: 100%;
	height: 1px;
	background-color: $color--darkGrey;
}
