@font-face {
	font-family: 'Interface';
	src:
		url('../fonts/interface-regular.woff') format('woff'),
		url('../fonts/interface-regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Interface';
	src:
		url('../fonts/interface-medium.woff') format('woff'),
		url('../fonts/interface-medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Interface';
	src:
		url('../fonts/interface-bold.woff') format('woff'),
		url('../fonts/interface-bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Interface';
	src:
		url('../fonts/interface-black.woff') format('woff'),
		url('../fonts/interface-black.woff2') format('woff2');
	font-weight: 900;
}

@font-face {
	font-family: 'Rajdhani';
	src:
		url('../fonts/rajdhani-semibold.woff') format('woff'),
		url('../fonts/rajdhani-semibold.woff2') format('woff2');
	font-weight: 600;
}

$fontFamily--primary: 'Interface';
$fontFamily--secondary: 'Rajdhani';

/* *******************************
   Base Type
   ******************************* */
html, body {
	font-family: $fontFamily--primary;
	font-size: $html-fz;
	line-height: $html-lh;
}

/* *******************************
   Font classes
   ******************************* */
.f-h1 {
	font-size: typo($h1, mobile-size);
	line-height: typo($h1, mobile-lh);

	@include media-breakpoint-up(lg) {
		font-size: typo($h1, desktop-size);
		line-height: typo($h1, desktop-lh);
	}
}

.f-h2 {
	@include media-breakpoint-up(lg) {
		font-size: typo($h2, desktop-size);
		line-height: typo($h2, desktop-lh);
	}

	font-size: typo($h2, mobile-size);
	line-height: typo($h2, mobile-lh);
}

.f-h3 {
	font-size: typo($h3, mobile-size);
	line-height: typo($h3, mobile-lh);

	@include media-breakpoint-up(lg) {
		font-size: typo($h3, desktop-size);
		line-height: typo($h3, desktop-lh);
	}
}

.f-h4 {
	@include media-breakpoint-up(lg) {
		font-size: typo($h4, desktop-size);
		line-height: typo($h4, desktop-lh);
	}

	font-size: typo($h4, mobile-size);
	line-height: typo($h4, mobile-lh);
}

.f-h5 {
	@include media-breakpoint-up(lg) {
		font-size: typo($h5, desktop-size);
		line-height: typo($h5, desktop-lh);
	}

	font-size: typo($h5, mobile-size);
	line-height: typo($h5, mobile-lh);
}

.f-h6 {
	@include media-breakpoint-up(lg) {
		font-size: typo($h6, desktop-size);
		line-height: typo($h6, desktop-lh);
	}

	font-size: typo($h6, mobile-size);
	line-height: typo($h6, mobile-lh);
	font-weight: 700;
	font-family: $fontFamily--secondary;
	letter-spacing: 1px;
}

.f-h1, .f-h3, .f-h4, .f-h5 {
	font-family: $fontFamily--primary;
}

.f-smallTitle {
	@include media-breakpoint-up(lg) {
		font-size: typo($smallTitle, desktop-size);
		line-height: typo($smallTitle, desktop-lh);
	}

	font-size: typo($smallTitle, mobile-size);
	line-height: typo($smallTitle, mobile-lh);
}

.f-smallText {
	@include media-breakpoint-up(lg) {
		font-size: typo($smallText, desktop-size);
		line-height: typo($smallText, desktop-lh);
	}

	font-size: typo($smallText, mobile-size);
	line-height: typo($smallText, mobile-lh);
}

/* *******************************
   Headings
   ******************************* */
h1 {
	@extend .f-h1;

	margin-bottom: $mg--sm;
	margin-top: $mg--xxs;
	font-weight: 700;
}

h2 {
	@extend .f-h2;

	margin-bottom: $mg--xl;
	font-weight: 400;
}

h3 {
	@extend .f-h3;

	@include media-breakpoint-up(lg) {
		margin-bottom: $mg--md;
	}

	margin-bottom: $mg--sm;
	font-weight: 700;
}

h4 {
	@extend .f-h4;

	margin-bottom: $mg--md;
	font-weight: 700;
}

h5 {
	@extend .f-h5;

	font-weight: 700;
}

h6 {
	@extend .f-h6;

	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	color: $color--mainDark;
}

.smallTitle {
	@extend .f-smallTitle;

	font-weight: 500;
}

.smallText {
	@extend .f-smallText;

	font-weight: 700;
	text-transform: uppercase;
}

.label {
	@extend .f-h6;

	margin-bottom: $mg--xs;
	text-transform: uppercase;
	color: $color--middleGrey;
}

p {
	margin-bottom: $mg--sm;
}
