/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/**********************
	FUNCTIONS
***********************/
@function torem($size) {
	$remSize: $size / $html-fz;

	@return ($remSize * 1rem);
}

@function typo($var, $prop) {
	@return map-get($var, $prop);
}

/**********************
	COLORS
********************/
$color--mainBlue: #2446ff;
$color--darkBlue: #000529;
$color--mainDark: #1a2438;
$color--lightGrey: #ced8e3;
$color--middleGrey: #9ab;
$color--darkGrey: #3e5078;
$color--secondary: #f99506;

/**********************
	FONTS
********************/
$html-fz: 16px;
$html-lh: 1.75;
//title hero
$h1: (
	desktop-size: torem(80px),
	desktop-lh: 1.1,
	mobile-size: torem(40px),
	mobile-lh: 1.1
);

//tagline hero
$h2: (
	desktop-size: torem(24px),
	desktop-lh: 1.5,
	mobile-size: torem(18px),
	mobile-lh: 1.45
);

//main sections title
$h3: (
	desktop-size: torem(36px),
	desktop-lh: 1.34,
	mobile-size: torem(24px),
	mobile-lh: 1.25
);

// medium titles
$h4: (
	desktop-size: torem(24px),
	desktop-lh: 1.33,
	mobile-size: torem(18px),
	mobile-lh: 1.33
);

// STILL EMPTY: useful for the future if necessary
$h5: (
	desktop-size: torem(1px),
	desktop-lh: 1,
	mobile-size: torem(1px),
	mobile-lh: 1
);

// labels
$h6: (
	desktop-size: torem(18px),
	desktop-lh: 1,
	mobile-size: torem(16px),
	mobile-lh: 1
);

$smallTitle: (
	desktop-size: torem(18px),
	desktop-lh: 1.33,
	mobile-size: torem(16px),
	mobile-lh: 1.25
);

$smallText: (
	desktop-size: torem(13px),
	desktop-lh: 1,
	mobile-size: torem(10px),
	mobile-lh: 1
);

/****************************
	MARGINS HELPERS
*****************************/
$gutter: 1.875rem; // 30px
$mg--xxs: torem(8px);
$mg--xs: torem(16px);
$mg--sm: torem(24px);
$mg--md: torem(32px);
$mg--lg: torem(48px);
$mg--xl: torem(64px);
$mg--xxl: torem(96px);
$mg--huge: torem(120px);
