.btn {
	padding: $mg--xs;
	border-width: 2px;
	border-style: solid;
	transition: background 0.3s;
	font-weight: 500;

	@extend .f-smallText;
}

.btn--secondary {
	border-color: $color--secondary;
	color: white;

	&:hover {
		background: $color--secondary;
	}
}
