.hero {
	h1,h2 {
		color: white;
	}
}

.hero--landing {
	.row {
		padding-top: 10vh;
		padding-bottom: 10vh;
		min-height: 600px;
		height: 600px; // fallback
		height: 85vh;
	}
}

#container-p5 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero-link {
	font-family: $fontFamily--secondary;
	display: inline-block;
}

// HERO ANIMATION
.hero--landing h1 span {
	opacity: 0;
	display: inline-block;
}

.hero--landing h2 {
	opacity: 0;
}

.hero--landing .cta {
	opacity: 0;
}

.hero--landing .hero-link {
	opacity: 0;
}
